.main-header {
  padding: 15px;
}

.header-buttons {
  background-color: #17a2b8 !important;
  border: 1px solid #17a2b8 !important;
  padding: 5px 5px !important;
  margin: 3px;
}

.header-add-button {
  background-color: #28A745 !important;
  border: 1px solid #28A745 !important;
  padding: 5px 5px !important;
  margin: 3px;
}